extends layout

block content
	nav#sub
		ul(class="tabbed")
			li(class="current-tab") 
				a(href="#") Create a Speaker
			li 
				a(href="#") Find a Speaker
			li 
				a(href="#") Popular Speakers
			li 
				a(href="#") Why Join?		
		div(class="clearer") &nbsp;
	div#splash
		section
			h2(class="label label-green") Create Speaker Profile
		section
			fieldset
				legend Basic Info
				ul
					li
						label(for="name") Name:  
						input#name(type="text", placeholder="ex. Hugo Reyes", class="k-input k-textbox") 
					li
						label(for="email") Email:  
						input#email(type="email", placeholder="ex. hugo@dharma.com", class="k-input k-textbox")
					li
						label(for="twitter") Twitter:  
						input#twitter(type="text", placeholder="ex. hugoDHARMA", class="k-input k-textbox")
					li
						label(for="blog") Twitter:  
						input#blog(type="url", placeholder="ex. www.dharmadaily.com", class="k-input k-textbox")
					li
						label(for="birthday") Birthday:  
						input#birthday(type="date") 
					li
						label(for="preferredSessionTime") Preferred Session Time:  
						input#preferredSessionTime(type="time")
			fieldset
				legend Bio & Photo
				ul
					li
						label(for="languages") Favorite Language:  
						input#languages(type="text")
					li
						label(for="photo") Photo:
						input#photo(type="file", class="k-input")
					li
						label(for="bio") Bio:
						textarea#bio(rows="10", cols="50")					
			input(type="button", value="Save", class="k-button")
			input(type="button", value="Reset", class="k-button")
	div(class="clearer") 
		&nbsp;

block scripts
	script(src="javascripts/speaker/profile.js")